h1 {
	color: white;
	font-size:50px;
	text-align:center;
	font-family:Wide Latin;
}

header {
	background-color:brown;
	box-shadow:inset 5px 5px 5px black;
}

body {
	background-color:#EEEDEB;
}

article {
	display:inline-block;
	position:relative;
}

.sech1 {
	font-family:monospace;
}

.artp1 {
   font-size:30px;
   color:white;
   font-family:sans-serif;
}

.art1 {
	border:5px dashed #E0CCBE;
}

.hydroimg1 {
	width:600px;
	background-repeat:no-repeat;
	height:300px;
	border:5px ridge #747264;
}

.hydrotext1 {
	font-family:monospace;
	text-align:left;
	font-size:20px;
}

a {
	text-decoration:none;
	font-family:monospace;
}

a:hover {
	color:white;
}

a:visited {
	color:white;
}

footer {
	font-family:monospace;
	height:100px;
	background-color:#503C3C;
	font-size:20px;
	box-shadow:inset 0px -30px 5px black;
	width:100%;
	float:bottom;
	position:fixed;
	bottom:0;
}
