h1 {
	color: white;
	font-size:50px;
	text-align:center;
	font-family:Wide Latin;
}

header {
	background-color:brown;
	box-shadow:inset 5px 5px 5px black;
}

body {
	background-color:#76453B;
}


a {
	text-decoration:none;
	font-family:monospace;
	color:white;
}

a:hover {
	color:white;
}

a:visited {
	color:white;
}

footer {
font-family:monospace;
	height:100px;
	background-color:#503C3C;
	font-size:20px;
	box-shadow:inset 0px -30px 5px black;
	width:100%;
	float:bottom;
	bottom:0;
	border-bottom:5px solid #B19470;
	border-left:3px solid #B19470;
	border-right:3px solid #B19470;
}

p {
	color:white;
	font-family:monospace;
	font-size:30px;
}

h2 {
	color:red;
	font-size:19px;
}

aside {
	border:2px dashed firebrick;
	position:relative;
	display:flex;
}

span {
	background-color:#561C24;
	font-family:Courier New, monospace;
}

iframe {
	border:5px outset firebrick;
}

.otherh1 {
	font-family:monospace;
}

div {
	border:4px dashed #E0CCBE;
}
