h1 {
	color: white;
	font-size:50px;
	text-align:center;
	font-family:Wide Latin;
}

header {
	background-color:brown;
	box-shadow:inset 5px 5px 5px black;
}

body {
	background-color:#76453B;
}


a {
	text-decoration:none;
	font-family:monospace;
}

a:hover {
	color:white;
}

a:visited {
	color:white;
}

footer {
   font-family:monospace;
	height:100px;
	background-color:#503C3C;
	font-size:20px;
	box-shadow:inset 0px -30px 5px black;
	width:100%;
	float:bottom;
	bottom:0;
	margin-top:100%;
	border-bottom:5px solid #B19470;
	border-left:3px solid #B19470;
	border-right:3px solid #B19470;
}

p {
	color:white;
	font-family:monospace;
	font-size:30px;
}


